.header-site{
  padding: 20px;
  padding: 0;
  height: 10%;
  display: grid;
}
  
.header-site h1 {
  font-size: 1.5em;
  color: #8e2ad6;
  height: fit-content;
  border-bottom: 2px solid;
  align-self: center;
  margin: 0;
}