.pkgListMainContainer {
  height: 100%;
  position: relative;
  overflow: hidden;
}


.listSideBar {
  font-size: initial;
  color:#8e2ad6;
  background-color: #f0f0f0;
  height: 99%;
  max-height: 500px;
  position: absolute;
  transition: left 0.3s ease; /* Transition to make it slide in smoothly */
  z-index: 10;
  border: 2px solid #8e2ad6;
  text-align: center;
  top: 0;
  left: -250px; /* Initial position off-screen */
  width: 250px;
}

.listSideBar h2{
  height: 10%;
  margin: 10px;
  border-bottom: thin solid #8e2ad6;
}


.sideBarArrow {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 45%;
  right: -30px;
  border-radius: 30px;
  display: grid;
  place-items: center;
  justify-content: right;
  z-index: 1;
  background-image: linear-gradient(to right, transparent 40%, #8e2ad6);
}

.sideBarArrow i{
  font-size: 20pt;
  color: black;
  z-index: 1;
}


.selNumInfo{
  font-size: 15px;
  color: black;
  background-color: red;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -10px;
  right: -5px;
  border-radius: 100%;
  opacity: 0.7;
}


.slideList {
  height: 85%;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: auto;
  z-index: 10;
  list-style-type: none;
}

.slideList ul {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  border: thin solid #8e2ad6;
  list-style-type: none;
}

.slideList li {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}


.slideListVersions:hover{
  background-image: radial-gradient(transparent 0.5%, rgba(128, 128, 128, 0.27));
}


.listPkgs{
  height: 100%;
  height: fit-content;
  max-height: 100%;
  padding: 0;
  margin-left: 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}


.package-card {
  height: fit-content;
  min-height: 80px;
  margin: 20px;
  position: relative;
  padding: 1px 20px 20px 45px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: 0.5s;
  flex: 0 0 140px;

}

.package-card h2 {
  font-size: medium;
  margin-bottom: 0;
}

.package-card small {
  color: #777;
  margin-right: 10px;
}


.packageDescr{
  font-size: 3em;
  color: white;
  background: #8e2ad6;
  position: absolute;
  text-align: center;
  width: 20px;
  height: 20px;
  top:0;
  left: 0px;
  margin-right: 10px;
  z-index: 1;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  border: 3px solid #8e2ad6;
  overflow: hidden;
}


.descriptionTag {
  font-size: 12pt;
  color: rgb(53, 20, 20);
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  left: 0;
  margin: 0;
  text-align: left;
  overflow: auto;
}


.listVersions{
  margin: 0;
}


.versionCard{
  font-size: 12pt;
  position: absolute;
  top: 0;
  right:0;
  z-index: 10;
  transition: 0.5s;
  overflow: hidden;
}

.versionCard p{
  position: absolute;
  text-align: center;
  margin: 0;
}


.versionCardList{
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  max-height: 100%;
  overflow: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
}

.versionCardList li{
  background-color: lightgray;
  margin: 5px;
  border: thin solid black;
  border-radius: 3px;
}

.versionCardList::-webkit-scrollbar {
  display: none;
}


.loadMore {
  height: 80px;
  width: 150px;
  margin: 20px;
}