.packageDescr{
    background: #8e2ad6;
    position: absolute;
    top:0;
    left: 0px;
    transition: 1s;
    z-index: 1;
    font-size: 3em;
    width: 23px;
    height: 23px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 10px;
}

.package-card {
    background: white;
    margin: 40px auto;
    padding: 1px 20px 20px 45px;
    position: relative;
  }



  .package-card h2 {
    margin-bottom: 0;
    font-size: medium;
  }

  .package-card small {
    margin-right: 10px;
    color: #777;
  }
  
  