.approvedPkgsPageWrapper {
    height: 90%;
    overflow: hidden;
}


.searchbarAP{
    height: 10%;
    place-items: center;
    display: grid;
}


.searchbarInput {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    border: solid darkblue;
    border-radius: 5px;
}


.listOfEntries{
    height: 75%;
    width: 100%;
    overflow: hidden;
    height: 75%;
    position: relative;
}


#divSubmit{
    height: 15%;
    place-items: center;
    display: grid;
}


#btnSubmit{
    font-size: large;
    font-weight: bold;
    height: 50%;
    width: 50%;
    border: thin solid #8e2ad6;
    border-radius: 30px;
}