#packagePageContainer{
    place-items: center;
    height: 90%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 10% 75% 15%;
    grid-template-columns: 100%;
}

#pageSlider{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 100% 100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}



.searchbar{
    width: fit-content;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    place-items: center;
    height: 100%;
    justify-self: left;
    margin-left: 20px;
}

#divChangeList{
    justify-self: center;
    align-self: last baseline;
    grid-row: 1;
    grid-column: 1;
    width: fit-content;
    height: fit-content;
    display: grid;
    place-items: center;
    grid-template-rows: 100%;
    overflow: hidden;
}

.btnChangeList{
    grid-row: 1;
    margin: 10px;
    width: 150px;
    border: none;
    border-bottom: thick solid #8e2ad6;
    font-weight: bold;
}

.btnChangeList:active{
    background-color: #b49bc5;
}

#divSubmit{
    display: grid;
    place-items: center;
    height: 10%;
}

#btnSubmit{
    height: 50%;
    width: 50%;
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
    border: thin solid #8e2ad6;
    transition: 0.5s;
}

#btnSubmit:hover{
    box-shadow: inset 0px 0px 10px 5px rgba(142,42,214,1);
}

#btnSubmit:active{
    background-color: #8e2ad6;
}